

# Complexity
out/*

.nextflow*
work

test/reference/GRCh38_Verily_v1.fasta.pac
test/reference/GRCh38_Verily_v1.fasta.fai
test/reference/GRCh38_Verily_v1.fasta.ann
test/reference/GRCh38_Verily_v1.fasta.amb
test/reference/GRCh38_Verily_v1.fasta.0123
test/reference/GRCh38_Verily_v1.fasta.bwt.2bit.64
test/reference/GRCh38_Verily_v1.dict
test/old/GRCh38_Verily_v1.fasta.pac
test/old/GRCh38_Verily_v1.fasta.fai
test/old/GRCh38_Verily_v1.fasta.bwt.2bit.64
test/old/GRCh38_Verily_v1.fasta.ann
test/old/GRCh38_Verily_v1.fasta.amb
test/old/GRCh38_Verily_v1.fasta.0123
test/old/GRCh38_Verily_v1.dict
test/reference/GRCh38_Verily_v1.fasta.sa
test/reference/GRCh38_Verily_v1.fasta.bwt
output/alignment/bwamem/TEST-QA.DO263089.SA624380.WGS/6751a793-53cc-496e-9cbf-e4de56a883f6.dna_alignment.payload.json
output/alignment/bwamem/TEST-QA.DO263089.SA624380.WGS/out/TEST-QA.DO263089.SA624380.wgs.20240820.aln.cram
output/alignment/bwamem/TEST-QA.DO263089.SA624380.WGS/out/TEST-QA.DO263089.SA624380.wgs.20240820.aln.cram.crai
output/alignment/bwamem/TEST-QA.DO263273.SA624744.WGS/TEST-QA.DO263273.SA624744.csort.markdup.cram
output/alignment/bwamem/TEST-QA.DO263273.SA624744.WGS/TEST-QA.DO263273.SA624744.csort.markdup.cram.crai
output/alignment/bwamem2/TEST-QA.DO263089.SA624380.WGS/f63310d4-271d-4e56-a6b8-d7f811d32aba.dna_alignment.payload.json
output/alignment/bwamem2/TEST-QA.DO263089.SA624380.WGS/out/TEST-QA.DO263089.SA624380.wgs.20240719.aln.cram
output/alignment/bwamem2/TEST-QA.DO263089.SA624380.WGS/out/TEST-QA.DO263089.SA624380.wgs.20240719.aln.cram.crai
output/alignment/bwamem2/TEST-QA.DO263273.SA624744.WGS/TEST-QA.DO263273.SA624744.csort.markdup.cram
output/alignment/bwamem2/TEST-QA.DO263273.SA624744.WGS/TEST-QA.DO263273.SA624744.csort.markdup.cram.crai
output/pipeline_info/execution_report_2024-07-19_13-58-37.html
output/pipeline_info/execution_report_2024-07-19_14-30-11.html
output/pipeline_info/execution_report_2024-07-19_16-20-36.html
output/pipeline_info/execution_report_2024-07-19_16-24-25.html
output/pipeline_info/execution_report_2024-07-19_16-26-22.html
output/pipeline_info/execution_report_2024-07-19_16-27-02.html
output/pipeline_info/execution_report_2024-07-19_16-29-29.html
output/pipeline_info/execution_report_2024-07-19_16-30-58.html
output/pipeline_info/execution_report_2024-07-19_16-31-20.html
output/pipeline_info/execution_report_2024-07-19_16-31-47.html
output/pipeline_info/execution_report_2024-07-19_16-34-29.html
output/pipeline_info/execution_report_2024-07-19_16-37-41.html
output/pipeline_info/execution_report_2024-07-19_16-40-03.html
output/pipeline_info/execution_report_2024-07-25_10-31-13.html
output/pipeline_info/execution_report_2024-07-25_10-35-31.html
output/pipeline_info/execution_report_2024-07-25_10-37-14.html
output/pipeline_info/execution_report_2024-07-25_10-40-13.html
output/pipeline_info/execution_report_2024-07-25_11-12-08.html
output/pipeline_info/execution_report_2024-08-20_10-57-12.html
output/pipeline_info/execution_report_2024-08-20_10-58-12.html
output/pipeline_info/execution_report_2024-08-20_10-59-27.html
output/pipeline_info/execution_timeline_2024-07-19_13-58-37.html
output/pipeline_info/execution_timeline_2024-07-19_14-30-11.html
output/pipeline_info/execution_timeline_2024-07-19_16-20-36.html
output/pipeline_info/execution_timeline_2024-07-19_16-24-25.html
output/pipeline_info/execution_timeline_2024-07-19_16-26-22.html
output/pipeline_info/execution_timeline_2024-07-19_16-27-02.html
output/pipeline_info/execution_timeline_2024-07-19_16-29-29.html
output/pipeline_info/execution_timeline_2024-07-19_16-30-58.html
output/pipeline_info/execution_timeline_2024-07-19_16-31-20.html
output/pipeline_info/execution_timeline_2024-07-19_16-31-47.html
output/pipeline_info/execution_timeline_2024-07-19_16-34-29.html
output/pipeline_info/execution_timeline_2024-07-19_16-37-41.html
output/pipeline_info/execution_timeline_2024-07-19_16-40-03.html
output/pipeline_info/execution_timeline_2024-07-25_10-31-13.html
output/pipeline_info/execution_timeline_2024-07-25_10-35-31.html
output/pipeline_info/execution_timeline_2024-07-25_10-37-14.html
output/pipeline_info/execution_timeline_2024-07-25_10-40-13.html
output/pipeline_info/execution_timeline_2024-07-25_11-12-08.html
output/pipeline_info/execution_timeline_2024-08-20_10-57-12.html
output/pipeline_info/execution_timeline_2024-08-20_10-58-12.html
output/pipeline_info/execution_timeline_2024-08-20_10-59-27.html
output/pipeline_info/execution_trace_2024-07-19_13-58-37.txt
output/pipeline_info/execution_trace_2024-07-19_14-30-11.txt
output/pipeline_info/execution_trace_2024-07-19_16-20-36.txt
output/pipeline_info/execution_trace_2024-07-19_16-24-25.txt
output/pipeline_info/execution_trace_2024-07-19_16-26-22.txt
output/pipeline_info/execution_trace_2024-07-19_16-27-02.txt
output/pipeline_info/execution_trace_2024-07-19_16-29-29.txt
output/pipeline_info/execution_trace_2024-07-19_16-30-58.txt
output/pipeline_info/execution_trace_2024-07-19_16-31-20.txt
output/pipeline_info/execution_trace_2024-07-19_16-31-47.txt
output/pipeline_info/execution_trace_2024-07-19_16-34-29.txt
output/pipeline_info/execution_trace_2024-07-19_16-37-41.txt
output/pipeline_info/execution_trace_2024-07-19_16-40-03.txt
output/pipeline_info/execution_trace_2024-07-25_10-31-13.txt
output/pipeline_info/execution_trace_2024-07-25_10-35-31.txt
output/pipeline_info/execution_trace_2024-07-25_10-37-14.txt
output/pipeline_info/execution_trace_2024-07-25_10-40-13.txt
output/pipeline_info/execution_trace_2024-07-25_11-12-08.txt
output/pipeline_info/execution_trace_2024-08-20_10-57-12.txt
output/pipeline_info/execution_trace_2024-08-20_10-58-12.txt
output/pipeline_info/execution_trace_2024-08-20_10-59-27.txt
output/pipeline_info/pipeline_dag_2024-07-19_13-58-37.html
output/pipeline_info/pipeline_dag_2024-07-19_14-30-11.html
output/pipeline_info/pipeline_dag_2024-07-19_16-20-36.html
output/pipeline_info/pipeline_dag_2024-07-19_16-24-25.html
output/pipeline_info/pipeline_dag_2024-07-19_16-26-22.html
output/pipeline_info/pipeline_dag_2024-07-19_16-27-02.html
output/pipeline_info/pipeline_dag_2024-07-19_16-29-29.html
output/pipeline_info/pipeline_dag_2024-07-19_16-30-58.html
output/pipeline_info/pipeline_dag_2024-07-19_16-31-20.html
output/pipeline_info/pipeline_dag_2024-07-19_16-31-47.html
output/pipeline_info/pipeline_dag_2024-07-19_16-34-29.html
output/pipeline_info/pipeline_dag_2024-07-19_16-37-41.html
output/pipeline_info/pipeline_dag_2024-07-19_16-40-03.html
output/pipeline_info/pipeline_dag_2024-07-25_10-31-13.html
output/pipeline_info/pipeline_dag_2024-07-25_10-35-31.html
output/pipeline_info/pipeline_dag_2024-07-25_10-37-14.html
output/pipeline_info/pipeline_dag_2024-07-25_10-40-13.html
output/pipeline_info/pipeline_dag_2024-07-25_11-12-08.html
output/pipeline_info/pipeline_dag_2024-08-20_10-57-12.html
output/pipeline_info/pipeline_dag_2024-08-20_10-58-12.html
output/pipeline_info/pipeline_dag_2024-08-20_10-59-27.html
