

# Complexity
out/*

.nextflow*
work

test/reference/GRCh38_Verily_v1.fasta.0123
test/reference/GRCh38_Verily_v1.fasta.bwt.2bit.64
test/old/GRCh38_Verily_v1.fasta.pac
test/old/GRCh38_Verily_v1.fasta.fai
test/old/GRCh38_Verily_v1.fasta.bwt.2bit.64
test/old/GRCh38_Verily_v1.fasta.ann
test/old/GRCh38_Verily_v1.fasta.amb
test/old/GRCh38_Verily_v1.fasta.0123
test/old/GRCh38_Verily_v1.dict
