process {
    withName: 'SAMTOOLS_CONVERT' {
    publishDir       = [
        enabled : params.samplesheet!=null && params.api_token==null,
        mode: params.publish_dir_mode,
        path: { "${params.outdir}/alignment/${meta.tool}/${meta.study_id}.${meta.patient}.${meta.sample}.${meta.experiment}/"},
        pattern: "*cram*",
        saveAs: { "${it}" }
    ]
    }
}